.card.caixa-normal-black {
  background: #000000;
}

.caixa-normal-black .flipped {
  background: linear-gradient(90deg, #353535, #111111);
}

.caixa-normal-black .bankLogo {
  top: 20px;
  left: 205px;
}

.caixa-normal-black .chip:after {
  content: "black";
  position: absolute;
  top: 12px;
  left: 125px;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.caixa-normal-black .holderName {
  top: 190px;
  left: 35px;
}

.caixa-normal-black .number {
  left: 35px;
}

.caixa-normal-black .expiration {
  top: 166px;
  left: 156px;
}

.caixa-normal-black .expiration:before {
  content: "valid thru";
  position: absolute;
  top: -7px;
  left: -40px;
  width: 25px;
  font-size: 0.425rem;
  opacity: 0.8;
  text-transform: uppercase;
}
