.card.itau-normal-black {
  background: #1a191d;
}

.itau-normal-black .modelLogo {
  width: 75px;
  top: 15px;
  left: 20px;
}

.itau-normal-black .flipped {
  background: linear-gradient(90deg, #353535, #111111);
}

.itau-normal-black .bankLogo {
  width: 300px;
  top: -20px;
  left: 25px;
}

.itau-normal-black .number {
  left: 30px;
}

.itau-normal-black .expiration {
  top: 160px;
  left: 138px;
}

.itau-normal-black .expiration:before {
  content: "Valid";
  position: absolute;
  font-size: 0.425rem;
  top: 1px;
  left: -25px;
}

.itau-normal-black .expiration:after {
  content: "Thru";
  position: absolute;
  font-size: 0.425rem;
  letter-spacing: 0.08rem;
  top: 7px;
  left: -25px;
}

.itau-normal-black .holderName {
  top: 180px;
  left: 30px;
  font-size: 0.8em;
}
