.card.itau-personnalite-black {
  background: #0b0000;
}

.itau-personnalite-black .flipped {
  background: linear-gradient(90deg, #353535, #111111);
}

.itau-personnalite-black .number {
  left: 30px;
  opacity: 0.5;
}

.itau-personnalite-black .expiration {
  opacity: 0;
}

.itau-personnalite-black .holderName {
  top: 180px;
  left: 30px;
  font-size: 0.8em;
  opacity: 0.5;
}
